---
import type {CollectionEntry} from 'astro:content'

import {Navigation, LittleCubes} from '~/components'
import {Prose} from '~/page-components'
import SocialMediaPreview from '~/components/social-media-preview.astro'
import BaseHead from '../components/base-head.astro'
import {ArticleLayout} from './article-layout'

type Props = CollectionEntry<'blog'>['data']

const {title, description, heroImage, date, author} = Astro.props
---

<html lang="en">
  <head>
    <BaseHead type="profile" title={title} description={description} src={heroImage} />
  </head>

  <body>
    <Navigation />

    <main>
      <LittleCubes />
      <Prose>
        <ArticleLayout
          title={title}
          description={description}
          heroImageSrc={heroImage}
          date={date}
          author={author}
        >
          <slot />
        </ArticleLayout>
      </Prose>
    </main>
  </body>
</html>
